table {
    border-collapse: collapse;
    font: italic small-caps bold 16px cursive;
}

h2 {
    font-size: 2em;
}

th {
    padding: 5px 10px;
}

td {
    padding: 5px;
}

.buttons {
    text-align: center;
}